<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dasbikash.book_keeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dasbikash.book_keeper.activities.calculator.ActivityCalculator"/>
        <activity android:name="com.dasbikash.book_keeper.activities.login.ActivityLogin" />
        <activity android:name="com.dasbikash.book_keeper.activities.home.ActivityHome" />
        <activity android:name="com.dasbikash.book_keeper.activities.launcher.ActivityLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dasbikash.book_keeper.activities.edit_expense.ActivityEditExpense" />
        <activity android:name="com.dasbikash.book_keeper.activities.view_expense.ActivityViewExpense" />
    </application>

</manifest>